<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.coffice.app.attendance.AttendanceDAO">
  
  	<insert id="checkIn" parameterType="AttendanceVO">
  		INSERT INTO ATTENDANCE 
  		(ATTENDANCE_DATE, START_TIME, STATUS, USER_ID)
   		VALUES (#{attendanceDate}, #{startTime}, '근무중', #{userId})
  	</insert>
  	
  	<update id="checkOut" parameterType="AttendanceVO">
  		UPDATE ATTENDANCE SET END_TIME = #{endTime}, STATUS= #{status}
  		WHERE USER_ID = #{userId} AND ATTENDANCE_DATE = #{attendanceDate}
  	</update>
  	
  	<select id="todayStatus"  resultType="AttendanceVO">
  		SELECT ATTENDANCE_ID, ATTENDANCE_DATE, START_TIME, END_TIME, STATUS, DURATION_TIME, USER_ID
  		FROM ATTENDANCE
  		WHERE USER_ID = #{userId}
  		AND DATE(`ATTENDANCE_DATE`) = #{attendanceDate}
  	</select>
  
  
  
  
  
  
  
  	
  </mapper>