<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.coffice.app.branch.BranchDAO">
  	<sql id="search">
  		WHERE
  		<choose>
  			<when test="kind == 'k1'">
  				BRANCH_NAME
  			</when>
  			<when test="kind == 'k2'">
  				BRANCH_STATUS
  			</when>
  			<otherwise>
  				BRANCH_ADDRESS
  			</otherwise>
  		</choose>
  		LIKE CONCAT('%',#{search},'%')
  	</sql>
  	
  	<select id="registerBranch" resultType="Long">
  		SELECT COUNT(*) FROM BRANCH WHERE BRANCH_STATUS = 1
  	</select>
  
  	<select id="getList" resultType="BranchVO" parameterType="Pager">
  		SELECT * FROM BRANCH
  		<include refid="search"></include>
  		LIMIT #{startNum}, #{page}
  	</select>
  	
  	<select id="getBranchTotalCount" resultType="Long" parameterType="Pager">
  		SELECT COUNT(*) FROM BRANCH
  		<include refid="search"></include>
  	</select>
  	
  	<select id="getDownList" resultMap="getDownBranch">
 		SELECT * FROM BRANCH
  		LEFT OUTER JOIN USERS
  		USING(USER_ID)
  		LEFT OUTER JOIN BRANCHMASTER
  		USING(USER_ID)
  	</select>
  	
  	<select id="branchName" resultType="BranchVO" parameterType="BranchVO">
  		SELECT * FROM BRANCH WHERE BRANCH_NAME =#{branchName}
  	</select>
  	
  	<select id="branchAddress" resultType="BranchVO" parameterType="BranchVO">
  		SELECT * FROM BRANCH WHERE BRANCH_ADDRESS=#{branchAddress}
  	</select>
  	
  	<select id="notAddBranchList" resultType="BranchVO">
  		SELECT * FROM BRANCH WHERE USER_ID IS NULL
  	</select>
  	
  	<select id="notAddBranchMasterList" resultMap="getBranchMaster">
  		SELECT * 
  		FROM USERS 
			JOIN BRANCHMASTER
			USING(USER_ID)
  		WHERE ADD_TYPE=0
  	</select>
  	
  	<insert id="add" parameterType="BranchVO">
  		INSERT INTO BRANCH
  		VALUES(null, #{branchName},#{branchAddress},#{branchPostcode},0,null)
  	</insert>
  	
  	<update id="branchUpdate" parameterType="BranchVO">
  		UPDATE BRANCH SET USER_ID=#{userId} WHERE BRANCH_ID=#{branchId}
  	</update>
  	
  	<select id="getDetail" resultMap="getBranch" parameterType="BranchVO">
  		SELECT * 
		  FROM BRANCH 
			LEFT OUTER JOIN USERS
			USING(USER_ID)
		  WHERE BRANCH_ID =#{branchId}
  	</select>
  	
  	<insert id="masterAdd" parameterType="BranchMasterVO">
  		INSERT INTO BRANCHMASTER
		VALUES (#{userId.userId},#{contactNumber},#{contactDate},0);
  	</insert>
  	
  	 <select id="nameCheck" resultType="BranchMasterVO" parameterType="BranchMasterVO">
	    SELECT * FROM BRANCHMASTER
	    WHERE CONTACT_NUMBER = #{contactNumber}
	</select>
  	
  	<select id="myBranch" parameterType="map" resultMap="getMyBranch" >
  	  	SELECT * FROM BRANCH b
  		LEFT OUTER JOIN USERS u
  		on b.USER_ID = u.USER_ID
  		LEFT OUTER JOIN SALES s
  		on b.BRANCH_ID = s.BRANCH_ID
  		LEFT OUTER JOIN MENU m
  		on m.MENU_ID = s.MENU_ID
  		LEFT OUTER JOIN INGREDIENTS i 
  		on i.INGREDIENTS_ID = s.INGREDIENTS_ID
  		WHERE u.USER_ID = #{branchVO.userVO.userId}
  		LIMIT #{pager.startNum}, #{pager.page}
  	</select>
  	
  	<select id="totalmyBranchCount" parameterType="map" resultType="Long">
  		SELECT COUNT(SALES_ID) FROM BRANCH b
  		LEFT OUTER JOIN USERS u
  		on b.USER_ID = u.USER_ID
  		LEFT OUTER JOIN SALES s
  		on b.BRANCH_ID = s.BRANCH_ID
  		LEFT OUTER JOIN MENU m
  		on m.MENU_ID = s.MENU_ID
  		WHERE u.USER_ID = #{branchVO.userVO.userId}
  	</select>
  	
  	<select id="totalBranchSales" parameterType="BranchVO" resultType="Long">
  	SELECT SUM(
  		CASE 
  			WHEN SALES_TYPE = 1 THEN +SALES_PROFIT
  			WHEN SALES_TYPE = 0 THEN -SALES_PROFIT
	  	END
	  	)
	  	FROM SALES
	  	JOIN BRANCH
	  	USING (BRANCH_ID)
	  	WHERE USER_ID = #{userVO.userId}
  	</select>
  	
  	<select id="totalSales" resultType="Long">
  		SELECT SUM(
  		CASE 
  			WHEN SALES_TYPE = 1 THEN +SALES_PROFIT
  			WHEN SALES_TYPE = 0 THEN -SALES_PROFIT
	  	END
	  	)
	  	FROM SALES
  	</select>
  	
  	<select id="notRegisterBranchMaster" resultMap="getBranchMaster">
  		SELECT * FROM BRANCHMASTER
		RIGHT OUTER JOIN USERS
		USING(USER_ID)
		WHERE DEPT_ID = 6
		AND ADD_TYPE IS NULL
  	</select>
  	
  	<select id="getChartList" resultMap="getChart" parameterType="BranchVO">
  		SELECT SALES_DATE, SUM(
  		CASE 
  			WHEN SALES_TYPE = 1 THEN +SALES_PROFIT
  			WHEN SALES_TYPE = 0 THEN -SALES_PROFIT
  		END
  		) AS totalSale
  	  	FROM SALES
  	  	JOIN BRANCH 
  	  	USING(BRANCH_ID)
  	  	WHERE USER_ID = #{userVO.userId}
  	  	AND SALES_DATE BETWEEN now()-INTERVAL 14 DAY AND now()+INTERVAL 2 DAY
  	  	GROUP BY SALES_DATE
  		ORDER BY SALES_DATE ASC
  	</select>
  	
  	<select id="getTotalChart" resultType="BranchVO">
  		SELECT *
	  	FROM (
	  	  	SELECT BRANCH_ID, BRANCH_NAME, SUM(
		  		CASE 
		  			WHEN SALES_TYPE = 1 THEN +SALES_PROFIT
		  			WHEN SALES_TYPE = 0 THEN -SALES_PROFIT
		  		END
	  		) AS totalSale, 
	  		RANK() OVER (ORDER BY SUM(
		  		CASE 
		  			WHEN SALES_TYPE = 1 THEN +SALES_PROFIT
		  			WHEN SALES_TYPE = 0 THEN -SALES_PROFIT
		  		END) DESC) AS ranking
	  		FROM SALES
	  		JOIN BRANCH
	  		USING(BRANCH_ID)
			GROUP BY BRANCH_ID) AS summarySale
		WHERE ranking <![CDATA[ <= ]]> 5
		ORDER BY totalSale DESC
  	</select>
  	
  	<select id="getTotalBranchSaleList" resultType="BranchVO">
  			SELECT *
	  	FROM (
	  	  	SELECT BRANCH_ID, BRANCH_NAME, SUM(
		  		CASE 
		  			WHEN SALES_TYPE = 1 THEN +SALES_PROFIT
		  			WHEN SALES_TYPE = 0 THEN -SALES_PROFIT
		  		END
	  		) AS totalSale, 
	  		RANK() OVER (ORDER BY SUM(
		  		CASE 
		  			WHEN SALES_TYPE = 1 THEN +SALES_PROFIT
		  			WHEN SALES_TYPE = 0 THEN -SALES_PROFIT
		  		END) DESC) AS ranking
	  		FROM SALES
	  		JOIN BRANCH
	  		USING(BRANCH_ID)
			GROUP BY BRANCH_ID) AS summarySale
		ORDER BY BRANCH_ID ASC
  	</select>
  
  <resultMap type="BranchMasterVO" id="getBranchMaster">
	  	<result column="CONTACT_NUMBER" property="contactNumber"/>
	  	<result column="CONTACT_DATE" property="contactDate"/>
	  	<result column="ADD_TYPE" property="addType"/>
  	
	  	<association property="userId" javaType="UserVO">
			<id column="USER_ID" property="userId"/>
			<result column="PASSWORD" property="password"/>
			<result column="NAME" property="name"/>
			<result column="POSITION" property="position"/>
			<result column="HIRE_DATE" property="hireDate"/>
			<result column="HIRE_TYPE" property="hireType"/>
			<result column="BIRTH_DATE" property="birthDate"/>
			<result column="PHONE" property="phone"/>
			<result column="EMAIL" property="email"/>
			<result column="STATUS" property="status"/>
			<result column="RESIGN_DATE" property="resignDate"/>
			<result column="SAVE_NAME" property="saveName"/>
			<result column="ORIGIN_NAME" property="originName"/>
			<result column="DEPT_ID" property="deptId"/>
	  	</association>
	</resultMap>
	
	<resultMap type="BranchVO" id="getBranch">
		<id column="BRANCH_ID" property="branchId"/>
		<result column="BRANCH_NAME" property="branchName"/>
		<result column="BRANCH_ADDRESS" property="branchAddress"/>
		<result column="BRANCH_POSTCODE" property="branchPostcode"/>
		<result column="BRANCH_STATUS" property="branchStatus"/>
		<result column="USER_ID" property="userId"/>
	
		<association property="userVO" javaType="UserVO">
			<result column="PASSWORD" property="password"/>
			<result column="NAME" property="name"/>
			<result column="POSITION" property="position"/>
			<result column="HIRE_DATE" property="hireDate"/>
			<result column="HIRE_TYPE" property="hireType"/>
			<result column="BIRTH_DATE" property="birthDate"/>
			<result column="PHONE" property="phone"/>
			<result column="EMAIL" property="email"/>
			<result column="STATUS" property="status"/>
			<result column="RESIGN_DATE" property="resignDate"/>
			<result column="SAVE_NAME" property="saveName"/>
			<result column="ORIGIN_NAME" property="originName"/>
			<result column="DEPT_ID" property="deptId"/>
		</association>
	</resultMap>
	
	<resultMap type="BranchVO" id="getDownBranch">
		<id column="BRANCH_ID" property="branchId"/>
		<result column="BRANCH_NAME" property="branchName"/>
		<result column="BRANCH_ADDRESS" property="branchAddress"/>
		<result column="BRANCH_POSTCODE" property="branchPostcode"/>
		<result column="BRANCH_STATUS" property="branchStatus"/>
		<result column="USER_ID" property="userId"/>
	
		<association property="userVO" javaType="UserVO">
			<result column="PASSWORD" property="password"/>
			<result column="NAME" property="name"/>
			<result column="POSITION" property="position"/>
			<result column="HIRE_DATE" property="hireDate"/>
			<result column="HIRE_TYPE" property="hireType"/>
			<result column="BIRTH_DATE" property="birthDate"/>
			<result column="PHONE" property="phone"/>
			<result column="EMAIL" property="email"/>
			<result column="STATUS" property="status"/>
			<result column="RESIGN_DATE" property="resignDate"/>
			<result column="SAVE_NAME" property="saveName"/>
			<result column="ORIGIN_NAME" property="originName"/>
			<result column="DEPT_ID" property="deptId"/>
		</association>
		
		<association property="branchMasterVO" javaType="BranchMasterVO">
			<result column="CONTACT_NUMBER" property="contactNumber"/>
		  	<result column="CONTACT_DATE" property="contactDate"/>
		  	<result column="ADD_TYPE" property="addType"/>
		</association>
	</resultMap>
	
	<resultMap type="BranchVO" id="getMyBranch">
		<id column="BRANCH_ID" property="branchId"/>
		<result column="BRANCH_NAME" property="branchName"/>
		<result column="BRANCH_ADDRESS" property="branchAddress"/>
		<result column="BRANCH_POSTCODE" property="branchPostcode"/>
		<result column="BRANCH_STATUS" property="branchStatus"/>
		<result column="USER_ID" property="userId"/>
	
		<association property="userVO" javaType="UserVO">
			<result column="PASSWORD" property="password"/>
			<result column="NAME" property="name"/>
			<result column="POSITION" property="position"/>
			<result column="HIRE_DATE" property="hireDate"/>
			<result column="HIRE_TYPE" property="hireType"/>
			<result column="BIRTH_DATE" property="birthDate"/>
			<result column="PHONE" property="phone"/>
			<result column="EMAIL" property="email"/>
			<result column="STATUS" property="status"/>
			<result column="RESIGN_DATE" property="resignDate"/>
			<result column="SAVE_NAME" property="saveName"/>
			<result column="ORIGIN_NAME" property="originName"/>
			<result column="DEPT_ID" property="deptId"/>
		</association>
		
		<collection property="salesVO" javaType="List" ofType="SalesVO">
			<result column="SALES_ID" property="salesId"/>
		  	<result column="SALES_TYPE" property="salesType"/>
		  	<result column="SALES_PROFIT" property="salesProfit"/>
		  	<result column="SALES_DATE" property="salesDate"/>
		  	<result column="SALES_QUANTITY" property="salesQuantity"/>
		  	<result column="MENU_ID" property="menuId"/>
		  	<result column="INGREDIENTS_ID" property="ingredientsId"/>
		  	
		  	<association property="menuVO" javaType="MenuVO">
		  		<result column="MENU_NAME" property="menuName"/>
		  		<result column="MENU_PRICE" property="menuPrice"/>
		  	</association>
		  	<association property="ingredientsVO" javaType="IngredientsVO">
		  		<result column="INGREDIENTS_NAME" property="ingredientsName"/>
		  		<result column="INGREDIENTS_STOCK" property="ingredientsStock"/>
		  		<result column="INGREDIENTS_PRICE" property="ingredientsPrice"/>
		  		<result column="INGREDIENTS_DATE" property="ingredientsDate"/>
		  	</association>
		</collection>
	</resultMap>
	
	<resultMap type="SalesVO" id="getChart">
		<id column="SALES_ID" property="salesId"/>
		  	<result column="SALES_TYPE" property="salesType"/>
		  	<result column="SALES_PROFIT" property="salesProfit"/>
		  	<result column="SALES_DATE" property="salesDate"/>
		  	<result column="SALES_QUANTITY" property="salesQuantity"/>
		  	<result column="BRANCH_ID" property="branchId"/>
		  	<result column="totalSale" property="totalSale"/>
		  	<result column="MENU_ID" property="menuId"/>
		  	
		  	<association property="menuVO" javaType="MenuVO">
		  		<result column="MENU_NAME" property="menuName"/>
		  		<result column="MENU_PRICE" property="menuPrice"/>
		  	</association>
	</resultMap>
  </mapper>