<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.coffice.app.ingredients.IngredientsDAO">
  	  	<sql id="search">
  		WHERE
  		<choose>
  			<when test="kind == 'k1'">
  				INGREDIENTS_NAME
  			</when>
  			<when test="kind == 'k2'">
  				INGREDIENTS_STOCK
  			</when>
  			<otherwise>
  				INGREDIENTS_DATE
  			</otherwise>
  		</choose>
  		LIKE CONCAT('%',#{search},'%')
  	</sql>
  	
  	<select id="getList" resultType="IngredientsVO" parameterType="Pager">
  		SELECT * FROM INGEDIENTS
  		<include refid="search"></include>
  		ORDER BY INGREDIENTS_ID DESC
  		LIMIT #{startNum}, #{page}
  	</select>
  	
  	 <select id="getTotalCount" resultType="Long" parameterType="Pager">
  		SELECT COUNT(*) FROM INGEDIENTS
  		<include refid="search"></include>
  	</select>
  	
  	<select id="getDetail" resultType="IngredientsVO" parameterType="IngredientsVO">
  		SELECT * FROM INGEDIENTS
  		WHERE INGREDIENTS_ID = #{ingredientsID}
  	</select>
  	
  	<select id="nameCheck" resultType="IngredientsVO" parameterType="IngredientsVO">
	    SELECT * FROM INGEDIENTS
	    WHERE INGREDIENTS_NAME = #{ingredientsName}
	</select>
  	
  	<insert id="add" parameterType="IngredientsVO">
  		INSERT INTO INGEDIENTS
		VALUES (null, #{ingredientsName}, 0, #{ingredientsPrice}, now(), null);
  	</insert>
  </mapper>