<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.coffice.app.events.schedule.ScheduleDAO">
  
  	<insert id="addSchedule" parameterType="ScheduleVO">
  			insert into SCHEDULE (DETAIL, START_TIME, END_TIME, SCHEDULE_TYPE, EDITOR, EDIT_TIME, USER_ID, INSERT_TIME)
  			values (#{detail}, #{startTime}, #{endTime}, #{scheduleType}, #{editor}, now(), #{userId}, now())
  	</insert>
  	
  	<insert id="addRepeatSchedule">
  			insert into SCHEDULE_REPEAT (DETAIL, START_TIME, END_TIME, REPEAT_COUNT, REPEAT_END, REPEAT_TYPE, SCHEDULE_TYPE, EDITOR, EDIT_TIME, USER_ID, INSERT_TIME)
  			values (#{detail}, #{startTime}, #{endTime}, #{repeatCount}, #{repeatEnd}, #{repeatType}, #{scheduleType}, #{editor}, now(), #{userId}, now())
  	</insert>
  	
  	<select id="getAll" resultType="ScheduleVO">
  			select SCHEDULE_ID, DETAIL, START_TIME, END_TIME, SCHEDULE_TYPE
  			from SCHEDULE
  	</select>
  	
  	<select id="getSchedule" resultType="ScheduleVO" parameterType="ScheduleVO">
  			select DETAIL, START_TIME, END_TIME, SCHEDULE_TYPE
  			from SCHEDULE
  			where SCHEDULE_ID = #{scheduleId}
  	</select>
  	
  	<select id="getRepeatSchedules" resultType="ScheduleVO">
  			select REPEAT_ID, DETAIL, START_TIME, END_TIME, REPEAT_COUNT, REPEAT_END, REPEAT_TYPE, SCHEDULE_TYPE
  			from SCHEDULE_REPEAT
  	</select>
  	
  </mapper>